@using Presentation.Utils;
@using Presentation.Shared.Dialogs;
@inject IStringLocalizer<RemoveBrokerDialog> _localizer;
@inject IBrokerService _brokerService;

@inherits BaseDialog

<MudDialog ClassContent="my-mud-dialog-content">
    <DialogContent>
        <LoadingDialog>
            <Title>
                <MudText Align="Align.Start"
                         Class="m-0 mt-2 mb-2"
                         Typo="Typo.h6">
                    @_localizer["Remove Broker"]
                </MudText>
            </Title>
            <Content>
                <MudGrid Class="m-0 p-2 pt-0 pb-0 w-100">
                    <MudText>@_localizer["Are you sure you want to remove this broker?"]</MudText>
                    <MudText Class="hide-overlapping-text">@_localizer["Server name:"] @Broker.Name</MudText>
                    <MudText Class="hide-overlapping-text">@_localizer["Server url:"] @Broker.Server</MudText>
                    <MudText Class="hide-overlapping-text">@_localizer["Client id:"] @Broker.ClientId</MudText>
                </MudGrid>
            </Content>
            <Actions>
                <MudButton OnClick="Cancel" Class="m-1">
                    @_localizer["Cancel"]
                </MudButton>
                <MudButton OnClick="RemoveAsync"
                           Class="m-1"
                           Variant="Variant.Filled"
                           Color="Color.Error">
                    @_localizer["Remove"]
                </MudButton>
            </Actions>
        </LoadingDialog>
    </DialogContent>
</MudDialog>

@code
{
    [Parameter]
    public Broker Broker { get; set; } = new();

    private async Task RemoveAsync()
    {
        if (string.IsNullOrEmpty(Broker.Id))
        {
            Dialog!.Close();
            return;
        }

        var result = await _loadingService.InvokeDialogAsync(RemoveAction);

        if (result.Succeeded)
            Dialog!.Close(DialogResult.Ok(result));

    }

    private async Task<IResult> RemoveAction()
    {
        var options = Dialog!.Options;
        options.DisableBackdropClick = true;
        Dialog!.SetOptions(options);

        var result = await _brokerService.RemoveBroker(Broker.Id);

        RequestHelpers.InvokeAfterRequest(_snackbar, result, _localizer["Successfully removed broker."]);

        options.DisableBackdropClick = false;
        Dialog!.SetOptions(options);
        return result;
    }
}
