@using Presentation.Utils;
@using Presentation.Shared.Dialogs;

@inject IStringLocalizer<ChangePasswordDialog> _localizer
@inject IUserService _userService

@inherits BaseFormDialog

<MudDialog ClassContent="my-mud-dialog-content">
    <DialogContent>
        <LoadingDialog>
            <Title>
                <MudText Align="Align.Start"
                         Typo="Typo.h6">
                    @Title()
                </MudText>
            </Title>
            <Content>
                <MudForm @ref="@Form"
                         Model="@Model"
                         Class="p-0 pt-0"
                         Validation="@(Validator.ValidateValue)"
                         ValidationDelay="0">
                    <MudGrid Class="p-0 m-0 w-100">
                        <MudItem xs="12">

                            <PasswordTextField @bind-Value="Model.Password"
                                               For="@(() => Model.Password)"
                                               Label="@_localizer["Password"]"
                                               HelperText="@_localizer["Provide actual password for your account."]" />
                        </MudItem>
                        <MudItem xs="12">
                            <PasswordTextField @bind-Value="Model.NewPassword"
                                               For="@(() => Model.NewPassword)"
                                               Label="@_localizer["Password"]"
                                               HelperText="@_localizer["Provide actual password for your account."]" />
                        </MudItem>
                        <MudItem xs="12">
                            <PasswordTextField @bind-Value="Model.ConfirmNewPassword"
                                               For="@(() => Model.ConfirmNewPassword)"
                                               Label="@_localizer["Confirm Password"]"
                                               HelperText="@_localizer["Please repeat new password."]" />
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </Content>
            <Actions>
                <MudButton OnClick="Cancel">
                    @_localizer["Cancel"]
                </MudButton>
                <MudButton OnClick="ChangeAsync"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                    @_localizer["Change"]
                </MudButton>
            </Actions>
        </LoadingDialog>
    </DialogContent>
</MudDialog>

@code
{
    private ChangePasswordModel Model = new();
    private ChangePasswordValidator Validator = new();

    protected override string Title() => _localizer["Change Password"];

    private async Task ChangeAsync()
    {
        var result = await _loadingService.InvokeDialogAsync(ChangeAction);

        if (result.Succeeded)
            Dialog!.Close(DialogResult.Ok(result));
    }

    private async Task<IResult> ChangeAction()
    {
        await Form!.Validate();

        if (!Form.IsValid)
            return Result.Fail();

        var result = await _userService.ChangePassword(Model);

        RequestHelpers.InvokeAfterRequest(_snackbar, result, _localizer["Successfully changed password!"]);

        return result;
    }
}
