@using Presentation.Utils;
@using Presentation.Shared.Dialogs;
@inject IStringLocalizer<RemoveDeviceDialog> _localizer;
@inject IDeviceService _deviceService;

@inherits BaseDialog

<MudDialog ClassContent="my-mud-dialog-content">
    <DialogContent>
        <LoadingDialog>
            <Title>
                <MudText Align="Align.Start"
                         Class="m-0 mt-2 mb-2"
                         Typo="Typo.h6">
                    @_localizer["Remove Broker"]
                </MudText>
            </Title>
            <Content>
                <MudGrid Class="m-0 p-2 pt-0 pb-0 w-100">
                    <MudText>@_localizer["Are you sure you want to remove this device?"]</MudText>
                    <MudText>@_localizer["Name:"] @Device.Name</MudText>
                    <MudText>@_localizer["Placing:"] @Device.Placing</MudText>
                </MudGrid>
            </Content>
            <Actions>
                <MudButton OnClick="Cancel" Class="m-1">
                    @_localizer["Cancel"]
                </MudButton>
                <MudButton OnClick="RemoveAsync"
                           Class="m-1"
                           Variant="Variant.Filled"
                           Color="Color.Error">
                    @_localizer["Remove"]
                </MudButton>
            </Actions>
        </LoadingDialog>
    </DialogContent>
</MudDialog>

@code
{
    [Parameter]
    public Device Device { get; set; } = new();
    [Parameter]
    public string ClientId { get; set; } = string.Empty;

    private async Task RemoveAsync()
    {
        var result = await _loadingService.InvokeDialogAsync(RemoveAction);

        if (result.Succeeded)
            Dialog!.Close(DialogResult.Ok(result));
    }

    private async Task<IResult> RemoveAction()
    {
        if (string.IsNullOrEmpty(Device.Id))
            return Result.Fail();

        var result = await _deviceService.RemoveDevice(ClientId, Device.Id);

        var success = RequestHelpers.InvokeAfterRequest(_snackbar, result, _localizer["Successfully removed device."]);

        return result;
    }
}
